<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="./main.css" rel="stylesheet" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="card">
    <h2 class="roboto" style="font-weight: 400;">Event Manager</h2>
    <p class="roboto">Hello, Welcome! Ready and excited to manage the events!</p>
    <h4 class="roboto" style="font-weight: 400;">Start by logging in or signing up!</h4>

    <div class="button-group">
      <a href="/signup" class="btn">Sign Up</a>
      <a href="/login" class="btn btn-outline">Login</a>
    </div>
  </div>
</body>
</html>
